.NavMenuWrapper {
  display: flex;
  width: 100%;
}

.NavMenuContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 3vh 3vh 5vh 0 ;
}

.Link {
  width: 15vh;
  min-width: 11vh;
  margin-left: 10px;
  border: 1px solid deepskyblue;
  padding: 0.7vh;
  border-radius: 5px;
  text-decoration: none;
  color: deepskyblue;
}

.Link:hover {
  background: deepskyblue;
  color: var(--white);
}
